# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Next.js
.next/
out/

# VS Code
.vscode/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
*.log
.DS_Store